body {
    background-color: #090909;
    height: 100%;
    width: 100%;
}

.jumbotron-fluid{
    background-color: #090909;
}

.display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
}
#turtleLogo {
    margin-top: 10px;
}
@font-face {
    font-family: 'chlorinarregular';
    src: url('../images/Fonts/chlorinr-webfont.woff2') format('woff2'),
         url('../images/Fonts/chlorinr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
p,
#subheading{
    font-family: 'chlorinarregular', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    color: #c8c8c8;
    margin-bottom: 0px;
}
#clickToBegin {
    text-align: center;
    color: #c8c8c8;
    margin-bottom: 0px;   
}

#mainbox {
    width: 90%;
    background-color: #090909;
    border-style: double;
    border-color: #8ed225;
    border-width: 2px;
    color: #c8c8c8;
}

#top-pic {
    border-style: double;
    border-color: #8ed225;
    border-width: 1px;
    text-align: center;
    padding: 5px;
}

#target-word {
    clear: both;
    border-style: double;
    border-color: #8ed225;
    border-width: 1px;
    text-align: center;
    padding: 5px;
    margin: 10px;
}

#bottom-row {
    border-style: double;
    border-color: #8ed225;
    border-width: 1px;
    text-align: center;
    padding: 5px;
    margin: 10px;
}

#input-box,
#tracker-column,
#letters-guessed,
#win-loss-record {
    border-style: double;
    border-color: #8ed225;
    border-width: 1px;
    text-align: center;
    padding: 5px;
    margin: 10px;
}

#letters-guessed {
    height: 200px;
    width: 200px;
    margin-left: 20px;
}

#win-loss-record {
    height: 200px;
    width: 200px;
    float: right;
    margin-right: 20px;
}




